In [1]:
'''Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple'''
string="Assignment 1"
my_list=[233,'Nothing',34.23]
my_float=23.34
my_tuple=(344,"Data Science")

In [11]:
#Q2. Given are some following variables containing data:
#What will be the data type of the above given variable.
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' ,'Python' ]
var4 = 1.
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [17]:
#Q3. Explain the use of the following operators using an example:
#(i) / - This is a division operator .Divides two number and gives float value. Use to find the quotient.
print(6/3)
#(ii) % -This is a modulus operator .Use to find the remainder
print(7%2)
#(iii) // - This is a floor operator.use to performs division and returns the integer part only.
print(11//4)
#(iv) ** - This is a Exponentiation Operator use to raises a number to the power of another.
print(2**4)

2.0
1
2
16

In [4]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.
list1=[23,43.3,True,3+5j,'Python',65,(34,5),[56,"Vikash"],'P',89]
for item in list1:
    print(item)
    print(type(item))

23
<class 'int'>
43.3
<class 'float'>
True
<class 'bool'>
(3+5j)
<class 'complex'>
Python
<class 'str'>
65
<class 'int'>
(34, 5)
<class 'tuple'>
[56, 'Vikash']
<class 'list'>
P
<class 'str'>
89
<class 'int'>

In [2]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.
A=20
B=2
count = 0
while A % B == 0:
    A = A // B
    count += 1
print("Number is divisible" ,count," times.")

Number is divisible 2  times.

In [3]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.
list1=[34,54,23,54,12,32,30,90,60,45,23,56,323,65,32,235,76,3,12,67,45,23,23,56,45]
for item in list1:
    if item%3==0:
        print(f"{item} is divisible by 3")
    else:
        print(f"{item} is not divisible by 3")

34 is not divisible by 3
54 is divisible by 3
23 is not divisible by 3
54 is divisible by 3
12 is divisible by 3
32 is not divisible by 3
30 is divisible by 3
90 is divisible by 3
60 is divisible by 3
45 is divisible by 3
23 is not divisible by 3
56 is not divisible by 3
323 is not divisible by 3
65 is not divisible by 3
32 is not divisible by 3
235 is not divisible by 3
76 is not divisible by 3
3 is divisible by 3
12 is divisible by 3
67 is not divisible by 3
45 is divisible by 3
23 is not divisible by 3
23 is not divisible by 3
56 is not divisible by 3
45 is divisible by 3

In [9]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.
#Mutable data types - This data types can be changed after creating .like data can be added ,deleted.
list1=[434,5,45,23]
print(list1)
list1[2]=90
print(f"After changing the list {list1}")

#Immutable data types- In this data types there will be no changes after creating the data .
name="Vikash"
name[2]="N"

[434, 5, 45, 23]
After changing the list [434, 5, 90, 23]

TypeError: 'str' object does not support item assignment